<ul>
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link item" routerLink="/blog" routerLinkActive="router-link-active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/book" routerLinkActive="router-link-active">Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile" routerLinkActive="router-link-active">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/book-form/form" routerLinkActive="router-link-active">Router Form</a>
        </li>
      </ul>
</ul>
