
<form [formGroup]="bookForm" class="container">
    <div class="form-group">
        <label for="name">Book Name</label>
        <input formControlName="name" class="form-control">
    </div>
    <ng-container formArrayName="authors">
        <label for="authors">Authors</label>
        <div class="input-group mb-3" *ngFor="let _ of authorsForm.controls; index as i">
            <input [formControlName]="i" class="form-control">
        </div>
    </ng-container>
    <div class="form-group">
        <label for="isbn">ISBN</label>
        <input formControlName="isbn" class="form-control">
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Add Book</button>
    
</form>